#deja.container.text-center
    h1 Deja que un profesional haga tu tarea por ti
    .row
        .materia.col-xs-6.col-md-3
            .frente
                .titulo
                    h1 Matemáticas
            .reverso
                .profesionales
                    h2 #{profesionales.matematicas} Profesionales
        .materia.col-xs-6.col-md-3
            .frente
                h1 Física
            .reverso
                .profesionales
                    h2 #{profesionales.fisica} Profesionales
        .materia.col-xs-6.col-md-3
            .frente
                h1 Química
            .reverso
                .profesionales
                    h2 #{profesionales.quimica} Profesionales
        .materia.col-xs-6.col-md-3
            .frente
                h1 Biología
            .reverso
                .profesionales
                    h2 #{profesionales.biologia} Profesionales
        .materia.col-xs-6.col-md-3
            .frente
                h1 Historia
            .reverso
                .profesionales
                    h2 #{profesionales.historia} Profesionales
        .materia.col-xs-6.col-md-3
            .frente
                h1 Español
            .reverso
                .profesionales
                    h2 #{profesionales.espanol} Profesionales
        .materia.col-xs-6.col-md-3
            .frente
                h1 Geografía
            .reverso
                .profesionales
                    h2 #{profesionales.geografia} Profesionales
        .materia.col-xs-6.col-md-3
            .frente
                h1 Otras
            .reverso
                .profesionales
                    h2 #{profesionales.otras} Profesionales